{% extends 'main/base.html' %}

{% load static %}

{% block content %}


<div class="wrapper-full">

  <div class="analyzes_list">

    <!--
    <div class="analyzes_list__maintitle">
      К вашим услугам:<br>
      Анализы | Диагностика | Справки<br>
      Вакцинация | Терапия | Травматология<br>
      Ортопедия | Урология | Гинекология<br>
    </div>
    -->

    <div class="analyzes_list__block">
      <div class="analyzes_list__maintitle">
        АНАЛИЗЫ <br>
      </div>
  
      <div class="analyzes_list__title">
        В нашей клинике вы можете сдать анализы в любое удобное время. 
        Диагностический центр и лаборатория работают без выходных и праздников. 
        Забор анализов проводят профессиональные и опытные медсестры, 
        обученные безболезненным методикам работы.
        О готовности результата анализов вы можете узнать 
        по телефону +7 (812) 994 58 00. Обращаем ваше внимание на то, 
        что по законам РФ мы не можем сообщать результаты исследований 
        по телефону. Поэтому результаты диагностики клиника выдает лично в руки, 
        при наличии документов, удостоверяющих личность. 
        В исключительных случаях, мы можем выслать результат платных анализов 
        на заранее оговоренный адрес электронной почты.
        Если вам нужно срочно сдать анализы в СПб, обращайтесь к нам. 
        У вас есть возможность заказать услугу забора анализов на дому. <br>
      </div>
    </div>

    <div class="analyzes_list__block">

      
        <a class="nav__ul__link analyzes_list__subtitle" href="#!">
          Общеклинические исследования
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!">
          Гемостазиология и изосерология
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!">
          Биохимические исследования
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!">
          Серологические и иммунохимические исследования
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!">
          Исследования уровня гормонов и онкомаркеров, специфических маркеров</a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!">
          Молекулярная диагностика
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!">
          Микробиологические исследования
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!">
          Цитологические, морфологические и гистохимические исследования
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!">
          Аутоиммунные заболевания
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!">
          Лекарственный мониторинг
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!">
          Цитогенетические исследования
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!">
          Генетическое установление родства
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!">
          Генетические исследования
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!">
          Наркотические вещества
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!"> 
          Иммунологические исследования 
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!"> 
          Аллергологические исследования 
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!"> 
          Панели тестов и алгоритмы обследования 
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!"> 
          Алгоритмы исследований 
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!"> 
          Комплексные генетические исследования 
        </a>
        <br>
        <br>
        <a class="nav__ul__link analyzes_list__subtitle"  href="#!"> 
          Индивидуальные исследования корпоративных клиентов 
        </a>
        <br>
        <br>

      

    </div>

  </div>

</div>


{% endblock %}
