{% extends 'main/base.html' %}

{% load static %}

{% block content %}


<div class="wrapper-full">

  <div class="contacts_list">

    <div class="contacts_list__title">
      Мы находимся по адресу: <br>
    </div>

    <div class="contacts_list__subtitle">
      197373, Россия, г. Санкт-Петербург, 
      Комендантский пр., д. 58, корп.1, стр.1<br>

    </div>

    <div class="contacts_list__title">
     
      Яндекс.Карты<br><br>

      Google.Карты<br><br>

      2ГИС<br>
    </div>

    <div class="contacts_list__title">
      <br>
      Запись на прием<br>
    </div>

    <div class="contacts_list__subtitle">
     
      Свяжитесь с нами, чтобы назначить удобное время.<br>
    </div>

    <div class="contacts_list__title">
    
      Звоните +7 (812) 994-58-00<br><br>

      WhatsApp +7-931-101-53-72<br>

    </div>

    <div class="contacts_list__subtitle">
      Ждем ваши отзывы о нашей работе:
      
      info@medicareclinic.ru<br>
   
    </div>

    <div class="contacts_list__subtitle">
    Или заполните форму, и мы свяжемся с вами в самое ближайшее время:<br>

    </div>

  </div>

</div>


{% endblock %}
