{% extends 'main/base.html' %}

{% load static %}

{% block content %}


<div class="wrapper-full">

  <div class="docsl_list">

    <div class="docsl_list__title">
      ООО «ЭмСи Клиник»     |     «MC CLINIC» LLC<br>
    </div>

    <div class="docsl_list__subtitle">
      Юридический адрес: 197373, Россия, г. Санкт-Петербург, 
      Комендантский пр., д. 58, корп.1, стр.1, пом. 40-Н, каб.1<br>

    </div>

    <div class="docsl_list__subtitle">
      Почтовый адрес: 197373, Россия, г. Санкт-Петербург, 
      Комендантский пр., д. 58, корп.1, стр.1, пом. 40-Н, каб.1<br>

    </div>

    <div class="docsl_list__title">
     
      Телефон: +7(812) 99-458-00<br><br>


    </div>


    <div class="docsl_list__subtitle">
     
      ИНН / КПП 7814781807 / 781401001<br>
      ОГРН 1207800137060<br>
      ОКПО 46114789<br>
      ОКОГУ 4210014<br>
      ОКАТО 40270000000<br>
      ОКВЭД 86.10 86.21 86.22 86.90.9<br>
      ОКФС 16<br>
      ОКОПФ 12300<br>
      ОКТМО 40327000000<br>

    </div>

    <div class="docsl_list__subtitle">
      Медицинская лицензия
    </div>

    <div class="docsl_list__title">
    
      № ЛО-78-01-011472

    </div>

    <div class="docsl_list__subtitle">
      от 08.02.2021, Комитет по здравоохранению г. Санкт-Петербурга<br>

    </div>

  </div>

</div>


{% endblock %}
