{% extends 'main/base.html' %}

{% load static %}

{% block content %}


<div class="doctors_list wrapper-full">

  <h2 class="doctors_list__title">
    <a href="#!">Врачи</a>
  </h2>


  <section class="doc__wrapper">
    <div class="row d-flex justify-content-center">
      <div class="doctors_list__subtitle">
        <p>
          Многопрофильная клиника MediCare Clinic находится в Приморском районе Санкт-Петербурга. Мы предоставляем полный спектр медицинских услуг акушера-гинеколога, уролога, терапевта, травматолога, ортопеда, онколога, а также более 2000 анализов и лабораторных исследований.
          Мы находимся в постоянном поиске профессионалов своего дела для усиления команды нашей клиники.
          
          
        </p>
      </div>
    </div>
  
    <div class="row text-center doctors_list__block">
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #9d789b;"></div>
          <div class="avatar mx-auto bg-white">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg"
              class="rounded-circle img-fluid"
            />
          </div>
          <div class="card-body">

            <h3>
              <a class="doctors_list__name" href="{% url 'doctor_page' %}">
                АНАРБАЕВ АЛИШЕР БАКИРОВИЧ
              </a>
            </h3>

            <h4>
              <a class="doctors_list__about text-center" href="#!">
                ТРАВМАТОЛОГ-ОРТОПЕД<br>
                ТЕРАПЕВТ<br>
                СТАЖ 8 ЛЕТ
              </a>
            </h4>

          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #7a81a8;"></div>
          <div class="avatar mx-auto bg-white">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg"
              class="rounded-circle img-fluid"
            />
          </div>
          <div class="card-body">

            <h3>
              <a class="doctors_list__name" href="#!">
                ЖУРАВСКИЙ ДМИТРИЙ АЛЕКСАНДРОВИЧ
              </a>
            </h3>

            <h4>
              <a class="doctors_list__about" href="#!">
                УРОЛОГ-АНДРОЛОГ<br>
                СТАЖ 6 ЛЕТ
              </a>
            </h4>

          </div>
        </div>
      </div>
      <div class="col-md-4 mb-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #6d5b98;"></div>
          <div class="avatar mx-auto bg-white">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
              class="rounded-circle img-fluid"
            />
          </div>
          <div class="card-body">

            <h3>
              <a class="doctors_list__name text-center" href="#!">
                КАЗИМАГОМЕДОВ КАЗБЕК НИЗАМИЕВИЧ
              </a>
            </h3>

            <h4>
              <a class="doctors_list__about" href="#!">
                ОНКОЛОГ<br>
                ХИРУРГ<br>
                СТАЖ 6 ЛЕТ
              </a>
            </h4>

          </div>
        </div>
      </div>
    </div>

    <div class="row text-center doctors_list__block">
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #9d789b;"></div>
          <div class="avatar mx-auto bg-white">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg"
              class="rounded-circle img-fluid"
            />
          </div>
          <div class="card-body">

            <h3>
              <a class="doctors_list__name" href="#!">
                ХОДЖАЕВА ФАРАНГИС МУХАММАДИЕВНА
              </a>
            </h3>

            <h4>
              <a class="doctors_list__about" href="#!">
                АКУШЕР-ГИНЕКОЛОГ<br>
                СТАЖ 6 ЛЕТ
              </a>
            </h4>

          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #7a81a8;"></div>
          <div class="avatar mx-auto bg-white">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg"
              class="rounded-circle img-fluid"
            />
          </div>
          <div class="card-body">

            <h3>
              <a class="doctors_list__name" href="#!">
                КУРБАНОВ ИЛЬЯС ШУАЙИФОВИЧ
              </a>
            </h3>

            <h4>
              <a class="doctors_list__about" href="#!">
                ТРАВМАТОЛОГ-ОРТОПЕД<br>
                СТАЖ 8 ЛЕТ
              </a>
            </h4>

          </div>
        </div>
      </div>
      <div class="col-md-4 mb-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #6d5b98;"></div>
          <div class="avatar mx-auto bg-white">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
              class="rounded-circle img-fluid"
            />
          </div>
          <div class="card-body">

            <h3>
              <a class="doctors_list__name" href="#!">
                Алимурадов Амир Ровшанович
              </a>
            </h3>

            <h4>
              <a class="doctors_list__about" href="#!">
                ХИРУРГ<br>
                УРОЛОГ<br>
                СТАЖ 10 ЛЕТ
              </a>
            </h4>

          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- --------------------------------------------------------------- -->



</div>


{% endblock %}
