{% extends 'main/base.html' %}

{% load static %}

{% block content %}


<div class="doctors_list wrapper-full">

  <h2 class="doctors_list__title">
    <a href="#!">Врачи</a>
  </h2>


  <section>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="mb-4">Профессионалы нашей клиники</h3>
        <p class="mb-4 pb-2 mb-md-5 pb-md-0">
          Многопрофильная клиника MediCare Clinic находится в Приморском районе Санкт-Петербурга. Мы предоставляем полный спектр медицинских услуг акушера-гинеколога, уролога, терапевта, травматолога, ортопеда, онколога, а также более 2000 анализов и лабораторных исследований.
          Поэтому мы находимся в постоянном поиске профессионалов своего дела для усиления команды нашей клиники.
          Вы можете узнать подробности о вакансиях или задать вопрос о клинике на сайте, WhatsApp (+7-931-101-53-72), ВК.
          Резюме можете прислать на email info@medicareclinic.ru  с пометкой на какую вакансию.
        </p>
      </div>
    </div>
  
    <div class="row text-center doctors_list__block">
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #9d789b;"></div>
          <div class="avatar mx-auto bg-white">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg"
              class="rounded-circle img-fluid"
            />
          </div>
          <div class="card-body">

            <h3>
              <a class="doctors_list__name" href="#!">
                Анарбаев Алишер Бакирович
              </a>
            </h3>

            <h4>
              <a class="doctors_list__about" href="#!">
                Главный врач
                Врач Травматолог-ортопед
                Врач общей практики
                Терапевт
                Стаж 8 лет
              </a>
            </h4>

          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #7a81a8;"></div>
          <div class="avatar mx-auto bg-white">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg"
              class="rounded-circle img-fluid"
            />
          </div>
          <div class="card-body">

            <h3>
              <a class="doctors_list__name" href="#!">
                ЖУРАВСКИЙ ДМИТРИЙ АЛЕКСАНДРОВИЧ
              </a>
            </h3>

            <h4>
              <a class="doctors_list__about" href="#!">
                Врач уролог - андролог
                Стаж 6 лет
              </a>
            </h4>

          </div>
        </div>
      </div>
      <div class="col-md-4 mb-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #6d5b98;"></div>
          <div class="avatar mx-auto bg-white">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
              class="rounded-circle img-fluid"
            />
          </div>
          <div class="card-body">

            <h3>
              <a class="doctors_list__name" href="#!">
                Казимагомедов Казбек Низамиевич
              </a>
            </h3>

            <h4>
              <a class="doctors_list__about" href="#!">
                Врач  Хирург-онколог
                Стаж 6 лет
              </a>
            </h4>

          </div>
        </div>
      </div>
    </div>

    <div class="row text-center doctors_list__block">
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #9d789b;"></div>
          <div class="avatar mx-auto bg-white">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg"
              class="rounded-circle img-fluid"
            />
          </div>
          <div class="card-body">

            <h3>
              <a class="doctors_list__name" href="#!">
                Анарбаев Алишер Бакирович
              </a>
            </h3>

            <h4>
              <a class="doctors_list__about" href="#!">
                Главный врач
                Врач Травматолог-ортопед
                Врач общей практики
                Терапевт
                Стаж 8 лет
              </a>
            </h4>

          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #7a81a8;"></div>
          <div class="avatar mx-auto bg-white">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg"
              class="rounded-circle img-fluid"
            />
          </div>
          <div class="card-body">

            <h3>
              <a class="doctors_list__name" href="#!">
                ЖУРАВСКИЙ ДМИТРИЙ АЛЕКСАНДРОВИЧ
              </a>
            </h3>

            <h4>
              <a class="doctors_list__about" href="#!">
                Врач уролог - андролог
                Стаж 6 лет
              </a>
            </h4>

          </div>
        </div>
      </div>
      <div class="col-md-4 mb-0">
        <div class="card testimonial-card">
          <div class="card-up" style="background-color: #6d5b98;"></div>
          <div class="avatar mx-auto bg-white">
            <img
              src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
              class="rounded-circle img-fluid"
            />
          </div>
          <div class="card-body">

            <h3>
              <a class="doctors_list__name" href="#!">
                Казимагомедов Казбек Низамиевич
              </a>
            </h3>

            <h4>
              <a class="doctors_list__about" href="#!">
                Врач  Хирург-онколог
                Стаж 6 лет
              </a>
            </h4>

          </div>
        </div>
      </div>
    </div>
  </section>
  
<!-- --------------------------------------------------------------- -->



<!-- --------------------------------------------------------------- -->

    <div class="doctors-list_card">

      <div class="doctors-list_card-pic">        
        <img src="{% static '/img/blog/Allergen.jpg' %}" alt="{{ post.title }}" class="doctors-list_card-thumb">
        <div class="doctors-list_card-stats">

          <h3 class="doctors-list_card-title">
            <a class="doctors-list_card-title" 
            href="#!">
              Ходжаева Фарангис Мухаммадиевна
            </a>
          </h3>          

          <div class="doctors-list_card__date">            
            {{ post.published_date }}
          </div>    

        </div>

      </div>

      <p class="doctors-list_card-desc">
        Врач  Гинеколог
        Стаж 6 лет
      </p>
      
      <a href="#!" class="doctors-list_card-more">
        Подробнее
      </a>

    </div>

<!-- --------------------------------------------------------------- -->

    <div class="doctors-list_card">

      <div class="doctors-list_card-pic">        
        <img src="{% static '/img/blog/Allergen.jpg' %}" alt="{{ post.title }}" class="doctors-list_card-thumb">
        <div class="doctors-list_card-stats">

          <h3 class="doctors-list_card-title">
            <a class="doctors-list_card-title" 
            href="#!">
              Курбанов Ильяс Шуайифович
            </a>
          </h3>          

          <div class="doctors-list_card__date">            
            {{ post.published_date }}
          </div>    

        </div>

      </div>

      <p class="doctors-list_card-desc">
        Травматолог-ортопед
      </p>
      
      <a href="#!" class="doctors-list_card-more">
        Подробнее
      </a>

    </div>

<!-- --------------------------------------------------------------- -->
    
  </div>



</div>


{% endblock %}
