{% extends 'main/base.html' %}

{% load static %}

{% block content %}

<div class="doctor_page wrapper-full">

  <div class="row text-center doctor_page__block">
    <div class="col-md-4 mb-5 mb-md-0">
      <div class="card testimonial-card" style="height: auto; width: 1150px; background-color: #9d789b;">
        <div class="card-up" style="background-color: #2b239e;"></div>
        <div class="avatar mx-auto bg-white">
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg"
            class="rounded-circle img-fluid"
          />
        </div>
        <div class="card-body" style="background-color: #9d789b;">

          <h3 class="doctor_page__name">

              АНАРБАЕВ АЛИШЕР БАКИРОВИЧ

          </h3>

          <h4 class="doctor_page__about text-center">

              ТРАВМАТОЛОГ-ОРТОПЕД<br>
              ТЕРАПЕВТ<br>
              СТАЖ 8 ЛЕТ

          </h4>

          <h4  class="doctor_page__profile text-left">
            
              Амбулаторное ведение больных травматологического профиля<br>

              Амбулаторное ведение больных ортопедического профиля<br>
              
              Оказание квалифицированной помощи при любых травмах.<br>
              
              Изготовление ортопедических стелек.<br>
              
              Безоперационное лечение остеоартроза.<br>
              
              Амбулаторное ведение больных терапевтического профиля<br>
              
              Амбулаторное ведение больных с сердечно-сосудистой патологией: ИБС, артериальная гипертензия, нарушения ритма, сердечная недостаточность,  после аорто-коронарного шунтирования, стентирования, пациентов с перенесенным инфарктом миокарда<br>              
              
              Ведение пациентов с бронхо-легочной патологией<br>
              
              Ведение пациентов с патологией ЖКТ и др.<br><br>
              
              ОБРАЗОВАНИЕ И ПРОФЕССИОНАЛЬНАЯ ПЕРЕПОДГОТОВКА<br><br>
              2018-2020 гг. - ординатура по специальности «травматология и ортопедия» в  ФГБУ "НАЦИОНАЛЬНЫЙ МЕДИЦИНСКИЙ ИССЛЕДОВАТЕЛЬСКИЙ ЦЕНТР ТРАВМАТОЛОГИИ И ОРТОПЕДИИ ИМЕНИ Р.Р. ВРЕДЕНА" МЗ РФ.<br>
              2013-2014 гг. - интернатура по специальности «терапия» в Военно-Медицинской Академии им. С. М. Кирова на базе 442 Окружного военного клинического госпиталя. Научный руководитель - Заведующий 2-ой кафедрой терапии (усовершенствования врачей) доктор медицинских наук профессор Гриневич В.Б.<br>
              2007-2013 гг. - Военно-медицинская академия им. С. М. Кирова по специальности «лечебное дело» (Факультет подготовки врачей для Военно-воздушных сил)<br><br>
              
               
              
              ЧЛЕНСТВО В ПРОФЕССИОНАЛЬНЫХ СООБЩЕСТВАХ<br><br>
              
              Состоит в научном обществе травматологов-ортопедов г. Санкт-Петербурга<br><br>
              ​
              
              ОПЫТ РАБОТЫ<br><br>
              2021г. – главный врач, врач-травматолог-ортопед, врач общей практики, врач-терапевт MediCare Clinic.<br>
              2020 – 2021 гг. – врач-терапевт выездной помощи в MEDSWISS.<br>
              2018 – 2020 гг. – травматолог-ортопед-ординатор в ФГБУ "НАЦИОНАЛЬНЫЙ МЕДИЦИНСКИЙ ИССЛЕДОВАТЕЛЬСКИЙ ЦЕНТР ТРАВМАТОЛОГИИ И ОРТОПЕДИИ ИМЕНИ Р.Р. ВРЕДЕНА" МЗ РФ<br>
              2017 – 2020 гг. – работал врачом общей практики в Полис EUROMED Group.<br>
              2016-2017 гг. – руководитель медицинской службы горнолыжного спорткомплекса КАНТ в г. Москва<br>
              2014-2016 гг. - начальник медицинской службы зенитно-ракетного полка в п. Князе-Волконское Хабаровского края.<br>
              2014 г. - инспектор допинг-контроля антидопинговой службы Олимпийских и Паралимпийских игр в г. Сочи. Награжден грамотой за вклад в работу антидопинговой службы Олимпийских и Паралимпийских игр.<br><br>

          </h4>

        </div>
      </div>
    </div>
  </div>   
  
  




</div>


{% endblock %}
