{% extends 'main/base.html' %}

{% load static %}

{% block content %}


<div class="wrapper-full">

  <div class="insurance_list">

    <div class="insurance_list__maintitle">
      ДМС<br>
    </div>

    <div class="insurance_list__subtitle">
      Мы принимаем страховые полисы компаний:
    </div>

    <div class="insurance_list__maintitle">
      Best Doctor<br>
    </div>

    <div class="insurance_list__maintitle">
      Реннесанс Страхование<br>
    </div>



    <div class="insurance_list__subtitle">
      Дополнительные услуги
    </div>

    <div class="insurance_list__title">
      Будем рады оказать допольнительные услуги, 
      которые не входят в страховой пакет и оплачиваются отдельно<br>
    </div>

  </div>

</div>


{% endblock %}
