{% extends 'main/base.html' %}

{% load static %}

{% block content %}


<div class="wrapper-full">

  <div class="job_list">

    <div class="job_list__maintitle">
      ВАКАНСИИ<br>

    </div>

    <div class="job_list__subtitle">
      Многопрофильная клиника MediCare Clinic находится в Приморском районе
      Санкт-Петербурга.<br>
      Мы предоставляем полный спектр медицинских услуг акушера-гинеколога, 
      уролога, терапевта, травматолога, ортопеда, онколога, 
      а также более 2000 анализов и лабораторных исследований.<br>
      Поэтому мы находимся в постоянном поиске профессионалов своего дела 
      для усиления команды нашей клиники.<br>
      Вы можете узнать подробности о вакансиях или задать вопрос о клинике 
      на сайте, WhatsApp (+7-931-101-53-72), ВК.<br>
      Резюме можете прислать на email info@medicareclinic.ru  
      с пометкой на какую вакансию.<br>
    </div>

    <div class="job_list__subtitle">
      Вакансии:<br>
    </div>

    <div class="job_list__title">
      Акушер-гинеколог<br>
    </div>

    <div class="job_list__title">
      Медсестра<br>
    </div>

</div>


{% endblock %}
