{% extends 'main/base.html' %}

{% load static %}  

<!-- maintext start-->

{% block blog %}
    
  <div class="maintext">
    <div class="wrapper-full">
      <div class="maintext-block">
        <div class="maintext-block__info">
          <h1 class="maintext-block__title">
            Клиника MediCare
          </h1>
          <p class="maintext-block__subtitle">
            Полный спектр медицинских услуг терапевта, травматолога, ортопеда, гинеколога, уролога.<br>
            Все виды анализов и лабораторных исследований.<br>
            Врачи могут приехать к вам на дом или провести онлайн - консультацию.<br>
            Мы гарантируем вам высокое качество медицинских услуг по доступным ценам.<br>
          </p>
        </div>          

        <div class="maintext-block__pic">
          <img src="{% static '/img/intro-pic/medpic14.jpg' %}" alt="Клиника MediCare" class="maintext-block__thumb">
        </div>

      </div>

    </div>
  </div>
    
  <!-- maintext end -->

  <!-- places start -->
    
  <section class="places wrapper">
    <div class="places-cards">
      <figure class="places-cards__card places-cards__card_size_lg">
        <img src="{% static '/img/intro-pic/medpic14.jpg' %}" alt="Терапия" class="places-cards__card-pic places-cards__card-pic_size_lg">
        <figcaption class="places-cards__card-title">
          Терапия
        </figcaption>
        <a href="#!" class="places-cards__card-link"></a>
      </figure>

      <figure class="places-cards__card places-cards__card_size_lg">
        <img src="{% static '/img/intro-pic/medpic60.jpg' %}" alt="Травматология" class="places-cards__card-pic places-cards__card-pic_size_lg">
        <figcaption class="places-cards__card-title">
          Травматология
        </figcaption>
        <a href="#!" class="places-cards__card-link"></a>
      </figure>

      <figure class="places-cards__card places-cards__card_size_sm">
        <img src="{% static '/img/intro-pic/medpic69.jpg' %}" alt="Урология" class="places-cards__card-pic places-cards__card-pic_size_sm">
        <figcaption class="places-cards__card-title">
          Урология
        </figcaption>
        <a href="#!" class="places-cards__card-link"></a>
      </figure>

      <figure class="places-cards__card places-cards__card_size_sm">
        <img src="{% static '/img/intro-pic/medpic66.jpg' %}" alt="Гинекология" class="places-cards__card-pic places-cards__card-pic_size_sm">
        <figcaption class="places-cards__card-title">
          Гинекология
        </figcaption>
        <a href="#!" class="places-cards__card-link"></a>
      </figure>

      <figure class="places-cards__card places-cards__card_size_sm">
        <img src="{% static '/img/intro-pic/medpic21.jpg' %}" alt="Анализы" class="places-cards__card-pic places-cards__card-pic_size_sm">
        <figcaption class="places-cards__card-title">
          Анализы
        </figcaption>
        <a href="#!" class="places-cards__card-link"></a>
      </figure>
        
    </div>

  </section>
    
  <!-- places end -->

  <!-- ARTICLES start-->
    
  <section class="wrapper maintext-blog">

    
    {% include "main/post_list_mini.html" with page=posts %}

    
      
      
  </section>

  <!-- ARTICLES end-->

  <!--Customers Carousel Likes start--> 
  <!--Customer Carousel Likes end-->

  <!-- videos start-->

    <div class="videos">
      <div class="videos_wrapper">

        <div class="video_item">
      
        <iframe class="video_element" src="https://www.youtube.com/embed/04gii3YmKyk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>

      </div>
    </div>

    <!-- videos end-->



{% endblock %}
