{% extends 'main/base.html' %}

{% block content %}

    <div class="post wrapper-full">
        
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">

            <span class="glyphicon glyphicon-pencil articles_card-more">
                Редактировать
            </span>

        </a>
        {% endif %}

        {% if post.published_date %}

            <div class="date articles_card-title">
                {{ post.published_date }}
            </div>
            
        {% endif %}

        <h1 class="post-block__title">
            {{ post.title }}
        </h1>
        <p class="post-block__subtitle">
            {{ post.text|linebreaksbr }}
        </p>
    </div>

{% endblock %}