{% extends 'main/base.html' %}



{% block content %}
{% for post in posts %}
    <div class="post">
        <div class="date">
            {{ post.published_date }}
        </div>
        <h1>
            <a href="{% url 'post_detail' pk=post.pk %}">
                {{ post.title }}
            </a>
        </h1>
        <p>
            {{ post.text|linebreaksbr|truncatechars:200 }}
        </p>
    </div>
{% endfor %}


<!-- ARTICLES start-->
{% load static %}  
<section class="articles">
    <div class="wrapper-full">

      <h2 class="articles-title">
        <a href="#!">СТАТЬИ</a>
      </h2>

      <div class="articles_cards">
       
        <div class="articles_card">            
          <div class="articles_card-pic">
            
            <img src="{% static '/img/blog/Allergen.jpg' %}" alt="Комплекс Аллергены" class="articles_card-thumb">
            
            <div class="articles_card-stats">

              <h3 class="articles_card-title">
                Комплекс Аллергены
              </h3>
              
              <div class="articles_card-likes">
                <span class="articles_card-likes-value">
                  221
                </span>
              </div>
              
              <div class="articles_card-comments">
                <span class="articles_card-comments-value">
                  50
                </span>
              </div>

            </div>

          </div>
          <p class="articles_card-desc">
            Что входит в комплекс
            Тимофеевка луговая IgE (G6, ImmunoCAP)
            Амброзия высокая IgE (W1, ImmunoCAP)
            Полынь IgE (W6, ImmunoCAP)
          </p>
          <a href="#!" class="articles_card-more">
            Подробнее
          </a>
        </div>

        <div class="articles_card">            
          <div class="articles_card-pic">
            
            <img src="{% static '/img/blog/prp-therapy.jpg' %}" alt="PRP-терапия" class="articles_card-thumb">
            
            <div class="articles_card-stats">
                              
              <h3 class="articles_card-title">
                PRP-терапия
              </h3>
              
              <div class="articles_card-likes">
                <span class="articles_card-likes-value">
                  430
                </span>
              </div>
              
              <div class="articles_card-comments">
                <span class="articles_card-comments-value">
                  84
                </span>
              </div>

            </div>

          </div>
          <p class="articles_card-desc">
            По данным Всемирной организации здравоохранения, 
            за последние 10 лет изменилась структура заболеваемости
            в сторону хронических заболеваний.
          </p>
          <a href="#!" class="articles_card-more">
            Подробнее
          </a>
        </div>

        <div class="articles_card">            
          <div class="articles_card-pic">
            
            <img src="{% static '/img/blog/pregnant.jpg' %}" alt="Ведение беременности" class="articles_card-thumb">
            
            <div class="articles_card-stats">
                              
              <h3 class="articles_card-title">
                Ведение беременности
              </h3>
              
              <div class="articles_card-likes">
                <span class="articles_card-likes-value">
                  286
                </span>
              </div>
              
              <div class="articles_card-comments">
                <span class="articles_card-comments-value">
                  74
                </span>
              </div>

            </div>

          </div>
          <p class="articles_card-desc">
            Будущим мамам необходимо 
            следить за своим здоровьем 
            и периодически наблюдаться у врача.
          </p>
          <a href="#!" class="articles_card-more">
            Подробнее
          </a>
        </div>

        <div class="articles_card">            
          <div class="articles_card-pic">
            
            <img src="{% static '/img/blog/heel_spur.jpg' %}" alt="Пяточная шпора" class="articles_card-thumb">
            
            <div class="articles_card-stats">

              <h3 class="articles_card-title">
                Пяточная шпора
              </h3>
              
              <div class="articles_card-likes">
                <span class="articles_card-likes-value">
                  221
                </span>
              </div>
              
              <div class="articles_card-comments">
                <span class="articles_card-comments-value">
                  50
                </span>
              </div>

            </div>

          </div>
          <p class="articles_card-desc">
            Пяточная шпора или плантарный фасциит 
            ─ это заболевание, которое развивается
            вследствие микротравматизации подошвенной связки. 
          </p>
          <a href="#!" class="articles_card-more">
            Подробнее
          </a>
        </div>

        <div class="articles_card">            
          <div class="articles_card-pic">
            
            <img src="{% static '/img/blog/testosterone.jpg' %}" alt="Тестостерон" class="articles_card-thumb">
            
            <div class="articles_card-stats">
                              
              <h3 class="articles_card-title">
                Тестостерон
              </h3>
              
              <div class="articles_card-likes">
                <span class="articles_card-likes-value">
                  430
                </span>
              </div>
              
              <div class="articles_card-comments">
                <span class="articles_card-comments-value">
                  84
                </span>
              </div>

            </div>

          </div>
          <p class="articles_card-desc">
            Тестостерон - это важный андрогенный гормон, 
            который вырабатывается в яичках мужчин.
          </p>
          <a href="#!" class="articles_card-more">
            Подробнее
          </a>
        </div>

        <div class="articles_card">            
          <div class="articles_card-pic">
            
            <img src="{% static '/img/blog/pregnant.jpg' %}" alt="Травмпункт" class="articles_card-thumb">
            
            <div class="articles_card-stats">
                              
              <h3 class="articles_card-title">
                Травмпункт
              </h3>
              
              <div class="articles_card-likes">
                <span class="articles_card-likes-value">
                  286
                </span>
              </div>
              
              <div class="articles_card-comments">
                <span class="articles_card-comments-value">
                  74
                </span>
              </div>

            </div>

          </div>
          <p class="articles_card-desc">
            В настоящее время отмечается резкое 
            возрастание частоты повреждений тканей 
            и органов опорно-двигательного аппарата.
          </p>
          <a href="#!" class="articles_card-more">
            Подробнее
          </a>
        </div>

      </div>

    </div>
  </section>    
  {% endblock %}
  
  <!-- ARTICLES end-->