{% extends 'main/base.html' %}

{% load static %}

{% block content %}


<div class="wrapper-full">

  <div class="job_list">

    <div class="promo_list__title">
      АКЦИИ<br>
    </div>

    <div class="job_list__title">
      ВАКЦИНАЦИЯ ОТ ГРИППА (ФЛЮ-М) И ОСМОТР ВРАЧА: 2000 руб.<br>
    </div>

    <div class="job_list__subtitle">
      <br>
      Весь СЕНТЯБРЬ скидка на первичную консультацию 
      -10% за пост/сторис со ссылкой в ВК или Instagram<br>
    </div>



    <div class="job_list__subtitle">
      <br>
      Обследование и Оценка состояния здоровья после COVID-19 - 3000 руб.<br>
    </div>

    <div class="job_list__subtitle">
      <br>
      Безоперационное лечение артрозов методикой PRP, 
      1 инъекция (курс - 5 инъекций) - 3000 руб.<br>
    </div>

    <div class="job_list__subtitle">
      <br>
      Изготовление ортопедических стелек (обследование стопы 
      на подоскопе, подбор стелек) - 3500 руб.<br>
    </div>

</div>


{% endblock %}
