{% extends 'main/base.html' %}

{% load static %}

{% block content %}


<div class="wrapper-full">

  <div class="services_list">

    <!--
    <div class="services_list__maintitle">
      К вашим услугам:<br>
      Анализы | Диагностика | Справки<br>
      Вакцинация | Терапия | Травматология<br>
      Ортопедия | Урология | Гинекология<br>
    </div>
    -->

    <div class="services_list__block">
      <div class="services_list__title">
        КОНСУЛЬТАЦИЯ ВРАЧА <br>
      </div>
  
      <div class="services_list__subtitle">
        Консультация врача позволяет собрать анамнез, 
        провести общую диагностику, вынести предварительный диагноз 
        и приступить к лечению. 
        Это позволяет быстро и эффективно оказывать платные медицинские
        услуги по излечению самых разнообразных заболеваний.
        Полный спектр медицинских услуг акушера-гинеколога, уролога, 
        терапевта, травматолога, ортопеда, онколога.
        Наши врачи могут приехать к вам на дом. <br>
      </div>
    </div>

    <div class="services_list__block">
      <div class="services_list__title">
        АНАЛИЗЫ И ДИАГНОСТИКА <br>
      </div>
  
      <div class="services_list__subtitle">
        В нашей клинике вы сможете сдать более 2000 видов анализов 
        и лабораторных исследований в любое удобное время.
        Диагностический центр работает без выходных и праздников.
        Забор анализов проводят профессиональные и опытные медсестры,
        обученные безболезненным методикам работы. <br>
      </div>
    </div>

    <div class="services_list__block">
      <div class="services_list__title">
        ВАКЦИНАЦИЯ <br>
      </div>
  
      <div class="services_list__subtitle">
        У вас есть возможность сделать все прививки от основных 
        вирусных заболеваний у нас в клинике.
        Схемы вакцинации полностью отвечают международным стандартам. <br>
      </div>
    </div>

    <div class="services_list__block">
      <div class="services_list__title">
        ТРАВМПУНКТ <br>
      </div>
  
      <div class="services_list__subtitle">
        На базе медцентра работает травмпункт для взрослых.
        Наши травматологи готовы оказать помощь при травмах. <br>
      </div>
    </div>

    <div class="services_list__block">
      <div class="services_list__title">
        УЗИ-ДИАГНОСТИКА <br>
      </div>
  
      <div class="services_list__subtitle">
        Ультразвуковое исследование позволяет увидеть подробную картину 
        состояния внутренних органов. 
        Наиболее часто требуется УЗИ при обследованиях у уролога 
        и гинеколога,  также УЗИ при беременности. 
        УЗИ-диагностика проводится только опытными врачами с действующими 
        сертификатами. <br>
      </div>
    </div>

    <div class="services_list__block">
      <div class="services_list__title">
        ВЫЗОВ ВРАЧА НА ДОМ <br>
      </div>
  
      <div class="services_list__subtitle">
        Чтобы обеспечить помощь пациентам, не имеющим возможности 
        покинуть квартиру, клиника организовала услугу по вызову врача на дом.
        Специалист клиники приедет по первому звонку, проконсультирует 
        пациента и может взять анализы. <br>
      </div>
    </div>

    <div class="services_list__block">
      <div class="services_list__title">
        КОНСУЛЬТАЦИЯ ВРАЧА <br>
      </div>
  
      <div class="services_list__subtitle">
        Консультация врача позволяет собрать анамнез, 
        провести общую диагностику, вынести предварительный диагноз 
        и приступить к лечению. 
        Это позволяет быстро и эффективно оказывать платные медицинские
        услуги по излечению самых разнообразных заболеваний.
        Полный спектр медицинских услуг акушера-гинеколога, уролога, 
        терапевта, травматолога, ортопеда, онколога.
        Наши врачи могут приехать к вам на дом. <br>
      </div>
    </div>

    <div class="services_list__block">
      <div class="services_list__title">
        КОНСУЛЬТАЦИЯ ВРАЧА <br>
      </div>
  
      <div class="services_list__subtitle">
        Консультация врача позволяет собрать анамнез, 
        провести общую диагностику, вынести предварительный диагноз 
        и приступить к лечению. 
        Это позволяет быстро и эффективно оказывать платные медицинские
        услуги по излечению самых разнообразных заболеваний.
        Полный спектр медицинских услуг акушера-гинеколога, уролога, 
        терапевта, травматолога, ортопеда, онколога.
        Наши врачи могут приехать к вам на дом. <br>
      </div>
    </div>

  </div>

</div>


{% endblock %}
